DEBUG=True
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1,.onrender.com,black-diamond.onrender.com,black-diamond.cz,www.black-diamond.cz,blackdiamond.cz,www.blackdiamond.cz
DATABASE_URL=sqlite:///db.sqlite3
STATIC_ROOT=staticfiles/
MEDIA_ROOT=uploads/
DJANGO_SETTINGS_MODULE=config.settings.dev
SECURE_SSL_REDIRECT=False
CSRF_TRUSTED_ORIGINS=https://black-diamond.onrender.com,https://black-diamond.cz,https://www.black-diamond.cz,https://blackdiamond.cz,https://www.blackdiamond.cz
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=info@blackdiamond.cz
CONTACT_RECIPIENT_EMAIL=info@blackdiamond.cz
